In [100]:
import pandas as pd

In [101]:
source = pd.read_html('https://www.goal.com/en-us/news/footballers-birthdays-messi-ronaldo-every-top-players-date/tfyes3k66ze81gozdgi8j5bna')

Table from January to December in list index 1-12

In [102]:
source[12]

               Player                Club  Nationality     Birthday
0      Michael Essien             Retired     Ghanaian   December 3
1        Ross Barkley             Chelsea      English   December 5
2     Anthony Martial             Man Utd       French   December 5
3          Tim Cahill            Millwall   Australian   December 6
4          John Terry         Aston Villa      English   December 7
5     Raheem Sterling            Man City      English   December 8
6     Gonzalo Higuain            Juventus  Argentinian  December 10
7     Leighton Baines             Everton      English  December 11
8       Chris Hughton  Brighton (manager)        Irish  December 11
9        Victor Moses             Chelsea     Nigerian  December 12
10      Santi Cazorla             Arsenal      Spanish  December 13
11       Michael Owen             Retired      English  December 14
12       Keylor Navas         Real Madrid  Costa Rican  December 15
13       Mats Hummels       Bayern Munich       German  December 16
14     Alexis Sanchez             Man Utd      Chilean  December 19
15        Gary Cahill             Chelsea      English  December 19
16      Karim Benzema         Real Madrid       French  December 19
17        Ashley Cole           LA Galaxy      English  December 20
18           Jorginho              Napoli      Italian  December 20
19      Kylian Mbappe                 PSG       French  December 20
20       Aaron Ramsey             Arsenal        Welsh  December 26
21        Hugo Lloris           Tottenham       French  December 26
22      Marcos Alonso             Chelsea      Spanish  December 28
23  Sir Alex Ferguson             Retired     Scottish  December 31

Some tables have different column names for the first column i.e Player or Player name so need to change them before concatenating the dataframes.

In [103]:
columnNames = ['Player','Club','Nationality','Birthday']
sourceDfs = source[1:13]
for df in sourceDfs:
    df.columns = columnNames

In [104]:
df = pd.concat(sourceDfs)

Need to convert Birthday to datetime. One value is Jun instead of June so need to fix that first. 1900 is just a dummy year as the original dataset did not have years, only month & day.

In [105]:
df['Birthday'] = df['Birthday'].replace({'Jun ':'June '}, regex=True)
df['Birthday'] = pd.to_datetime(df['Birthday'], format = '%B %d')

Let's filter out the managers i.e. ones with manager string in Club column. E.g. Sir Alex Ferguson is still in the dataset, he is mostly known for his managerial career but he was also a player.

In [106]:
df =  df[~df.Club.str.contains('manager')]

In [107]:
df = df.reset_index(drop=True)
df

                Player         Club     Nationality   Birthday
0          Shane Duffy     Brighton           Irish 1900-01-01
1          Jonny Evans    West Brom  Northern Irish 1900-01-02
2         James Milner    Liverpool         English 1900-01-04
3           Toni Kroos  Real Madrid          German 1900-01-04
4         Andy Carroll     West Ham         English 1900-01-06
..                 ...          ...             ...        ...
275      Kylian Mbappe          PSG          French 1900-12-20
276       Aaron Ramsey      Arsenal           Welsh 1900-12-26
277        Hugo Lloris    Tottenham          French 1900-12-26
278      Marcos Alonso      Chelsea         Spanish 1900-12-28
279  Sir Alex Ferguson      Retired        Scottish 1900-12-31

[280 rows x 4 columns]