In [1]:
# import requests
# from bs4 import BeautifulSoup

In [1]:
import pandas as pd

In [20]:
source = pd.read_html('https://www.goal.com/en-us/news/footballers-birthdays-messi-ronaldo-every-top-players-date/tfyes3k66ze81gozdgi8j5bna')

Table from January to December in list index 1-12

In [21]:
source[12]

               Player                Club  Nationality     Birthday
0      Michael Essien             Retired     Ghanaian   December 3
1        Ross Barkley             Chelsea      English   December 5
2     Anthony Martial             Man Utd       French   December 5
3          Tim Cahill            Millwall   Australian   December 6
4          John Terry         Aston Villa      English   December 7
5     Raheem Sterling            Man City      English   December 8
6     Gonzalo Higuain            Juventus  Argentinian  December 10
7     Leighton Baines             Everton      English  December 11
8       Chris Hughton  Brighton (manager)        Irish  December 11
9        Victor Moses             Chelsea     Nigerian  December 12
10      Santi Cazorla             Arsenal      Spanish  December 13
11       Michael Owen             Retired      English  December 14
12       Keylor Navas         Real Madrid  Costa Rican  December 15
13       Mats Hummels       Bayern Munich       German  December 16
14     Alexis Sanchez             Man Utd      Chilean  December 19
15        Gary Cahill             Chelsea      English  December 19
16      Karim Benzema         Real Madrid       French  December 19
17        Ashley Cole           LA Galaxy      English  December 20
18           Jorginho              Napoli      Italian  December 20
19      Kylian Mbappe                 PSG       French  December 20
20       Aaron Ramsey             Arsenal        Welsh  December 26
21        Hugo Lloris           Tottenham       French  December 26
22      Marcos Alonso             Chelsea      Spanish  December 28
23  Sir Alex Ferguson             Retired     Scottish  December 31

Some tables have different column names Player & Player name

In [29]:
columnNames = ['Player','Club','Nationality','Birthday']

Renaming the columns

In [30]:
sourceDfs = source[1:13]
for df in sourceDfs:
    df.columns = columnNames

In [34]:
df = pd.concat(sourceDfs)

In [35]:
df

               Player         Club     Nationality     Birthday
0         Shane Duffy     Brighton           Irish    January 1
1         Jonny Evans    West Brom  Northern Irish    January 2
2        James Milner    Liverpool         English    January 4
3          Toni Kroos  Real Madrid          German    January 4
4        Andy Carroll     West Ham         English    January 6
..                ...          ...             ...          ...
19      Kylian Mbappe          PSG          French  December 20
20       Aaron Ramsey      Arsenal           Welsh  December 26
21        Hugo Lloris    Tottenham          French  December 26
22      Marcos Alonso      Chelsea         Spanish  December 28
23  Sir Alex Ferguson      Retired        Scottish  December 31

[296 rows x 4 columns]